/* CSS PAGINA INICAL */


body {
    font-family: 'Montserrat', sans-serif;
    line-height:1.5em;
    background-image:url(midias/backgroud.webhp)
}

header {
    background-color: #000000;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.imagem-nav {
    width: 200px;
}

nav {
    position: absolute;
    top: 100px;
    right: 0;
}

nav li {
     display: inline-block;
     padding: 0 10px;
     color: #FFFFFF;
     text-transform: uppercase;
     font-weight: bold;
    
}

nav li:hover {
    border:  #D90707 1px solid;
    border-radius: 20px;

}


.titulo-principal {
     text-align: center;
     padding: 40px 0;
     font-weight: bolder;
     font-size: 50px;

 }


h1 + p {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: #D90707;
}


.texto-principal {
    font-size: 16px;
    font-weight: bold;
    width: 400px;
    text-align: center;
    margin: 15px auto;
}

.titulo2 {
    font-size: 60px;
    text-align: center;
    padding: 50px 0;
    display: block;
    
}

 .img-modalidades {
    width: 150px;
    padding: 0;
 }

 .modalidades h2 {
    font-size: 20px;
    font-weight: bolder;
 }

.modalidades  {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
 }

 .modalidades li {
    display: inline-block;
    width: 30%;
    text-align: center;
    margin: 0 0.3em;
    padding: 30px 5px;
    border: 3px black solid;
    border-radius: 30px;
 }

 .desc-modalidades{
    font-weight: bold;
    text-transform: uppercase;
 }

 .modalidades li:hover {
    cursor: pointer;
   
    border: 2px #D90707 solid;
    color: #D90707;
 }

 .img-unidades {
    width: 250px;
    
 }

 .unidades {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
 }

 .unidades li {
    display: inline-block;
    width: 30%;
    text-align: center;
    margin: 0 0.3em;
    box-shadow: 1px 1px 5px #c0bdbd;
    padding: 15px 0;
 }

 .unidades a {
   text-decoration: none;
   color: #D90707;
   font-weight: bolder;
 }

 .unidades a:HOVER {
   
   color: #000000;
 }

 .saibamais {
    width: 150px;
    text-decoration: none;
    padding: auto 0;
    margin: 0 auto;
    border: 2px #000000 solid ;
    border-radius: 40px;
 }

 .saibamais:hover {
   background-color: #D90707;
}


 .descrição-unidades {
    font-size: 1em;
    padding: 0 0 30px;
    text-transform: uppercase;
   font-weight: bold;
 }

 .cidade-unidade {
    font-size: 1em;
    font-weight: bolder;
    padding: 0 0 30px 0;
 }

 footer {
   background-image: url(midias/bg.jpgf);
   background-color: #000000;
   text-align: center;
   color: #FFFFFF;
   font-size: 0.7em;
   text-transform: uppercase;
 }





 /* CSS PAGINA DE PLANOS */
 
.nome-plano {
   text-align: center;
   padding: 50px 0;
   font-size: 50px ;
   font-weight: bolder;
}
 .planos {
   width: 70%;
   margin: 0 auto;
   padding: 50px 0;
   text-align: center;
 }
  .planos li {
   display: inline-block;
   width: 30%;
   text-align: center;
   margin: 0 0.3em;
   border: 3px black solid;
   border-radius: 30px;
  }
  
  .titulo-plano {
   font-weight: bolder;
   font-size: 1.5em;
   padding: 15px;
   color: #D90707;
  }

  .beneficios-planos {
   padding: 10px;
   font-weight: bold;
  }

  .beneficios-planos:before{
      content:"★"
  }

  .valores-planos {
   font-size: 18px;
   font-weight: bolder;
   padding: 15px 0;
   color: #D90707;
  }

  .cadastro  {
   position: relative;
   text-decoration: none;
    color: #000000;
    padding: 20px;
  }

 .cadastro a{
   color:#000000;
   text-decoration: none;
   font-weight: bolder;
   text-transform: uppercase;
   border: 2px black solid;
   border-radius: 15px;
   padding: 15px;
   background-color: #D90707;
  }

  .cadastro a:hover {
   background-color: #FFFFFF;
   cursor: pointer;
  }
  

  /* CSS CONTATO */

  .input-padrao {
   display: block;
   margin: 0 0 10px;
   padding: 10px 25px ;
   width: 50%;
   border-radius: 10px;
}

  form {
   width: 940px;
   margin: 40px auto;
}

form label, form legend{
   display: block;
   font-size: 20px;
   margin:0 0 10px;
   }

   .checkbox {
      margin: 20px 0;
  }

  .botao-enviar:hover {
   background-color: #D90707;
  }

   .botao-enviar {
       width: 40%;
       padding: 20px;
       background-color: #FC5249;
       font-weight: bolder;
       font-size: 18px;
       border:none;
       border-radius: 30px;
       transition: 1s all; 
       color: white;
       cursor: pointer;
   }